body {
    background-image: url(img/clouds.jpg);
    background-size: contain;
    background-color: beige;
}
h1   { 
    font: size 19px;
    color: pink;
    
}

h2   { 
    color: pink;
    font-size: xx-large;
}

h3  {
    color: yellow;
    font-size: x-large;
}

a    {color: red;
    text-decoration: underline;
    font-size: x-large;
}

a:hover {color: yellow;
        text-decoration: none; 
}
img     {
        border-radius: 50%;
        margin-left: auto;
}

p       {color: red;
        font-size: x-large;
        font-weight: 200;
}

ul      {font-size: x-large;
        font-weight: 400;}

